@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-fancy: "Outfit", sans-serif;
    --font-sans: "Roboto Mono", monospace;

    --color-bg: #181c25;
    --color-secondary: #1f2833;
    --color-fg: #ffffff;
}

body {
    @apply bg-bg text-fg font-sans;
}
