@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-fancy: "Outfit", sans-serif;
    --font-sans: "Roboto Mono", monospace;

    --color-bg: #181c25;
    --color-b2: #273242;
    --color-b3: #2e3d50;
    --color-b4: #32495c;
    --color-fg: #ffffff;

    --color-t1: #C1D5E0;
}

body {
    @apply bg-bg text-fg font-sans;
}

.textbox-editable {
    position: relative;
}

.textbox-editable.textbox-empty::before {
    content: attr(data-placeholder);
    color: var(--color-b3);
    pointer-events: none;
}
